#header-container {
  position: relative;
  overflow: hidden;
}
#header-container header {
  font-size: 0.8rem;
  color: #fff;
  background-color: #091128;
  width: 100%;
  opacity: 0.95;
}
#header-container header > div {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
#header-container header > div > div {
  padding-bottom: 5px;
}
#header-container header span {
  color: #fe5d26;
  font-weight: 700;
}
#header-container header i {
  font-size: 1rem;
  margin-right: 1rem;
}
#header-container header a {
  color: #fff;
}
#header-container header a:hover {
  color: #fe5d26;
}
#header-container > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  color: #0b132b;
}
#header-container > div:nth-child(2) > div {
  padding: 15px;
  position: relative;
  border: none;
  background: none;
}
#header-container > div:nth-child(2) > div a {
  text-decoration: none;
  color: #0b132b;
}
#header-container > div:nth-child(2) > div a:hover {
  color: #fe5d26;
}
#header-container > div:nth-child(2) > div a:active {
  color: gray;
}
#header-container > div:nth-child(2) > div:hover::before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  width: 100%;
  height: 5px;
  z-index: 10;
  bottom: 0;
  background: #fe5d26;
}
#header-container > div:nth-child(2) > div:active::before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  width: 100%;
  height: 5px;
  z-index: 10;
  bottom: 0;
  background-color: gray;
}
#header-container > div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#header-container > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#header-container > div:nth-child(3) > div:nth-child(1) > div {
  margin-bottom: 3rem;
}
#header-container > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  margin-right: 5rem;
  position: relative;
}
#header-container > div:nth-child(3) > div:nth-child(1) > div:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fe5d26;
  width: 60px;
  height: 7px;
  top: -10px;
  left: 0;
}
#header-container > div:nth-child(3) > div:nth-child(1) h1, #header-container > div:nth-child(3) > div:nth-child(1) p {
  color: #fff;
  font-weight: bold;
}
#header-container > div:nth-child(3) > div:nth-child(1) h1 {
  font-size: 3rem;
}
#header-container > div:nth-child(3) > div:nth-child(1) p {
  font-size: 1.5rem;
}
#header-container > div:nth-child(3) > div:nth-child(2) {
  min-width: 340px;
  max-width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  padding: 2rem;
}
#header-container > div:nth-child(3) > div:nth-child(2) h1 {
  color: #0b132b;
  font-size: 2rem;
  font-weight: bold;
}
#header-container > div:nth-child(3) > div:nth-child(2) form {
  width: 100%;
  margin-top: 1rem;
}
#header-container > div:nth-child(3) > div:nth-child(2) form input {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-bottom: solid 1px #ececec;
  margin-bottom: 1rem;
}
#header-container > div:nth-child(3) > div:nth-child(2) form > input:nth-child(10) {
  border: none;
  border-radius: 5px;
  background-color: #1e263b;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
#header-container > div:nth-child(3) > div:nth-child(2) form > input:nth-child(10):hover {
  background-color: #fe5d26;
}
#header-container > div:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #1e263b;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -5;
}
#header-container > div:nth-child(4) {
  position: absolute;
  bottom: -5px;
  right: 0;
  z-index: -10;
}

#why-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#why-container > div > div:nth-child(1) {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#why-container > div > div:nth-child(1) > img {
  width: 100%;
}
#why-container > div > div:nth-child(1) > div:nth-child(2) {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  right: -60px;
  background-color: #fe5d26;
  color: #fff;
  font-size: 4rem;
  padding-top: 0.9rem;
  text-align: center;
}
#why-container > div > div:nth-child(1)::before {
  content: "";
  display: block;
  z-index: 5;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 10;
  border-top: 120px solid #fe5d26;
  border-right: 120px solid transparent;
}
#why-container > div > div:nth-child(2) > div:nth-child(1) p:nth-child(1) {
  color: #fe5d26;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  font-size: 1.3rem;
  font-stretch: extra-expanded;
}
#why-container > div > div:nth-child(2) > div:nth-child(1) p:nth-child(3) {
  font-size: 1.3rem;
  color: #0b132b;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 2rem;
}
#why-container > div > div:nth-child(2) > div:nth-child(1) h1 {
  font-size: 2.8rem;
  font-weight: bolder;
  color: #0b132b;
}
#why-container > div > div:nth-child(2) .work-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
#why-container > div > div:nth-child(2) .work-thumbnail > div:nth-child(1) {
  display: inline;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-justify: right;
}
#why-container > div > div:nth-child(2) .work-thumbnail > div:nth-child(2) {
  margin-left: 2rem;
}
#why-container > div > div:nth-child(2) .work-thumbnail > div:nth-child(2) img {
  width: 100px;
  border-radius: 5px;
}

#about-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#about-container p {
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  font-size: 1.3rem;
  font-stretch: extra-expanded;
}
#about-container h1 {
  font-size: 2.8rem;
  font-weight: bolder;
  color: #0b132b;
}
#about-container h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
#about-container .about-us-box {
  min-height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: sstart;
}
#about-container .about-us-box > div:nth-child(1) p {
  color: #fe5d26;
}
#about-container .about-us-box > div:nth-child(1) h2 {
  margin-top: 2rem;
}
#about-container .about-us-box > div:nth-child(2) {
  margin-top: 4rem;
}
#about-container .about-us-box > div:nth-child(2) button {
  background-color: #fff;
  color: #0b132b;
  border: solid 1px #ececec;
  border-radius: 5px;
  margin-right: 0.5rem;
  max-width: 30%;
  min-width: 140px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#about-container .about-us-box > div:nth-child(2) button:hover {
  background-color: #fe5d26;
  color: #fff;
}
#about-container .about-us-box > div:nth-child(2) button:active {
  background-color: #1e263b;
  color: #fff;
}
#about-container .about-us-box > div:nth-child(3) {
  border: solid 1px #ececec;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}
#about-container .about-us-box > div:nth-child(3) p {
  font-variant: normal;
  font-weight: normal;
}
#about-container .about-us-box > div:nth-child(4) {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#about-container .about-us-box > div:nth-child(4) button {
  background-color: #1e263b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#about-container .about-us-box > div:nth-child(4) button:hover {
  background-color: #fe5d26;
}
#about-container .services-box {
  max-width: 700px;
}
#about-container .services-box > div:nth-child(1) p {
  color: #fe5d26;
}
#about-container .services-box > div:nth-child(2) {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#about-container .services-box > div:nth-child(2) p {
  font-variant: normal;
  font-weight: normal;
}
#about-container .services-box > div:nth-child(2) > div {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}
#about-container .services-box > div:nth-child(2) > div p {
  font-size: 1.1rem;
}
#about-container .services-box > div:nth-child(2) > div > div {
  padding-left: 1rem;
}
#about-container .services-box > div:nth-child(2) > div:nth-child(1) {
  background-color: #ececec;
  color: #0b132b;
}
#about-container .services-box > div:nth-child(2) > div:nth-child(2) {
  background-color: #fe5d26;
}
#about-container .services-box > div:nth-child(2) > div:nth-child(3) {
  background-color: #0b132b;
}

#gallery-container {
  background-color: #1e263b;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#gallery-container > div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#gallery-container > div:nth-child(1) p {
  color: #fe5d26;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  font-size: 1.3rem;
  font-stretch: extra-expanded;
}
#gallery-container > div:nth-child(1) h1 {
  font-size: 2.8rem;
  font-weight: bolder;
  color: #fff;
}
#gallery-container > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#gallery-container > div:nth-child(2) img {
  width: 18%;
}
#gallery-container > div:nth-child(3) button {
  background-color: #0b132b;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#gallery-container > div:nth-child(3) button:hover {
  background-color: #fe5d26;
}

#testimonial-container .testimonial-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#testimonial-container .testimonial-box > div:nth-child(1) {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-variant-caps: all-small-caps;
  line-height: 2.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#testimonial-container .testimonial-box > div:nth-child(1) h1 {
  font-size: 0.9rem;
}
#testimonial-container .testimonial-box > div:nth-child(1) p {
  font-size: 2.5rem;
  font-weight: bold;
}
#testimonial-container .testimonial-box > div:nth-child(2) {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#testimonial-container .testimonial-box > div:nth-child(2) > div {
  width: 360px;
}
#testimonial-container .testimonial-box > div:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}
#testimonial-container .testimonial-box > div:nth-child(3) img {
  width: 100%;
}
#testimonial-container .testimonial-box::before {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #1e263b;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -5;
}
#testimonial-container .follow-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#testimonial-container .follow-box > div {
  flex-grow: 1;
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#testimonial-container .follow-box > div:nth-child(1) h1 {
  font-size: 2.8rem;
  font-weight: bolder;
  color: #0b132b;
}
#testimonial-container .follow-box > div:nth-child(1) p {
  color: #fe5d26;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  font-size: 1.3rem;
  font-stretch: extra-expanded;
}
#testimonial-container .follow-box > div:nth-child(2) {
  font-size: 3rem;
}
#testimonial-container .follow-box > div:nth-child(2) a {
  color: #0b132b;
  margin: 0.5rem;
}
#testimonial-container .follow-box > div:nth-child(2) a:hover {
  color: #fe5d26;
}
#testimonial-container .suscribe-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fe5d26;
  min-height: 120px;
  border-radius: 5px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#testimonial-container .suscribe-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#testimonial-container .suscribe-box > div:nth-child(1) {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}
#testimonial-container .suscribe-box > div:nth-child(2) > input {
  border-style: none;
  height: 3rem;
}
#testimonial-container .suscribe-box > div:nth-child(2) > input:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#testimonial-container .suscribe-box > div:nth-child(2) > input:nth-child(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fbad02;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

#footer-container {
  background-color: #0b132b;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#footer-container span {
  color: #fe5d26;
  font-weight: 700;
}
#footer-container a {
  text-decoration: none;
}
#footer-container .footer-top {
  text-align: left;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#footer-container .footer-top::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.03;
  top: -1.5rem;
  left: 0;
  z-index: 1;
}
#footer-container .footer-top .footer-col {
  z-index: 2;
}
#footer-container .footer-top .footer-title {
  position: relative;
  margin-bottom: 30px;
}
#footer-container .footer-top .footer-title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fe5d26;
  width: 50px;
  height: 3px;
  left: 0;
  bottom: -10px;
}
#footer-container .footer-top .footer-title h1 {
  color: #fe5d26;
  font-size: 1.4rem;
  font-weight: bold;
}
#footer-container .footer-top .button-social-media {
  margin-bottom: 1rem;
}
#footer-container .footer-top a {
  color: #fff;
}
#footer-container .footer-top a:hover {
  color: #fe5d26;
}
#footer-container .footer-top button {
  background: none;
  border: solid 1px #fff;
  color: #fff;
  width: 40px;
  height: 40px;
}
#footer-container .footer-top button:hover {
  color: #fe5d26;
  border-color: #fe5d26;
}
#footer-container .footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

@media screen and (max-width: 900px) {
  #header-container > div:nth-child(4) {
    display: none;
  }

  #testimonial-container .testimonial-box > div:nth-child(3) {
    display: none;
  }

  #why-container > div > div:nth-child(1) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
